---
// Import the necessary dependencies
import { footerLinks } from "../../utils/navigation.ts";

---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900">
  <div
    class="mx-auto w-full max-w-[85rem] px-4 py-10 sm:px-10 lg:px-16 lg:pt-20 2xl:max-w-screen-2xl"
  >
    <div class="grid grid-cols-2 gap-10 md:grid-cols-3 lg:grid-cols-6">
      <div class="col-span-full lg:col-span-1">
        <!-- Brand Logo -->
        <img src="/image/logo_matilda.png" class="w-60" />
      </div>
      {
        footerLinks.map((section) => (
          <div class="col-span-2">
            <h3 class="font-bold text-neutral-800 dark:text-neutral-200">
              {section.section}
            </h3>
            <ul class="mt-3 grid space-y-3">
              {section.links.map((link, index) => (
                <li>
                  <a class="inline-flex gap-x-2 rounded-lg text-neutral-600 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-500 focus-visible:ring dark:text-neutral-400 dark:ring-zinc-200 dark:hover:text-neutral-300 dark:focus:outline-none dark:focus:ring-1">
                    {link.name}
                  </a>
                  {section.section === "Company" && index === 2 ? (
                    <span class="ms-1 inline rounded-lg bg-[#e14d0b] px-2 py-1 text-xs font-bold text-neutral-50">
                      We're hiring!
                    </span>
                  ) : null}
                </li>
              ))}
            </ul>
          </div>
        ))
      }
      <div class="col-span-full lg:col-span-1">
        <!-- Brand Logo -->
        <img src="/image/UAC.png" class="w-60" />
      </div>
    </div>

    <div class="mt-10 flex items-center justify-center">
      <p class="text-sm text-neutral-600 dark:text-neutral-400">
        © <span id="current-year"></span> MATILDA
      </p>
    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>
